body {
    /*background-image: url("../images/web-background.jpg");
    background-size:cover;*/
}

.donator {
    text-indent: 2em;
    background-image: url(../../images/icon_donator.png);
    background-position: 0 0;
    background-size: 20px 20px;
    background-repeat:no-repeat;
}
