@using GaiaDbContext.Models.SystemModels
@model GaiaDbContext.Models.SystemModels.NewsInfoModel

@{
    ViewBag.Title = "盖亚计划";
    Layout = "_Layout";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2><i class="fa fa-table red"></i><span class="break"></span><strong></strong></h2>
        
        @Model.name
    </div>
    <div class="panel-body">
        @Html.Raw(@Model.contents)
    </div>
</div>

