@using GaiaProject.Controllers
@using GameInfoController = GaiaProject.Models.Data.GameInfoController
@model List<GaiaProject.Models.Data.GameInfoController.StatisticsFaction>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form>
    <div class="row">
        <div class="col-lg-8">
            <div class="input-group">
                @Html.Partial("Partial_Html_UserCount", this)

                <input type="text" class="form-control" placeholder="玩家ID" id="username" name="username">

                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">搜索</button>
                </span>
            </div>
        </div>
    </div>
</form>

@Html.Partial("Partial_Html_FactionStatistics", Model)




