@using GaiaProject.Controllers
@using GameInfoController = GaiaProject.Models.Data.GameInfoController
@model List<GaiaProject.Models.Data.GameInfoController.StatisticsFaction>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form>
    <div class="row">
        <div class="col-lg-8">
            <div class="input-group">
                @Html.Partial("Partial_Html_UserCount", this)

                <input type="text" class="form-control" placeholder="玩家ID" id="username" name="username">
                <select class="btn dropdown-toggle form-control" id="orderType" name="orderType" style="width: 100px">
                    <option value="">--排序方式--</option>
                    <option value="1">局数</option>
                    <option value="2">均分</option>
                    <option value="3">胜场</option>
                    <option value="4">胜率</option>
                </select>

                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">搜索</button>
                </span>
            </div>
        </div>
    </div>
</form>

@Html.Partial("Partial_Html_FactionStatistics", Model)




