@model IndexViewModel
@{
    ViewData["Title"] = "管理你的账户";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>更改帐户设置</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>密码:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">修改</a>
            }
            else
            {
                @*<a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>*@
            }
        </dd>
        <dt>用户信息:</dt>
        <dd>
            <a asp-controller="Manage" asp-action="ChangeInfo" class="btn-bracketed">修改</a>
        </dd>
        @if (Startup.isEnableFriend)
        {
            <dt>好友:</dt>
            <dd>
                <a asp-controller="UserFriend" asp-action="Index" class="btn-bracketed">查看</a>
            </dd>
        }

    </dl>
</div>
