@using GaiaProject.Data
@using Microsoft.EntityFrameworkCore
@using GaiaDbContext.Models.AccountViewModels

@model List<UserFriend>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<ul class="list-group">
    
    @foreach (var  item in @Model)
    {
        <li class="list-group-item" id="@item.UserNameTo">
            @{@item.UserNameTo}(@item.Remark)
              <a href="/GameInfo?username=@item.UserNameTo">游戏</a> 
            <a  href="/GameInfo/FactionList?username=@item.UserNameTo">种族</a>
                   <button type="button" class="btn btn-default" onclick="delFriend('@item.UserNameTo')">删除</button>
                   </li>
    }
</ul>



<div class="row">
    <div style="width: 700px">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="用户名" id="uf_username">
            <input type="text" class="form-control" placeholder="备注" id="uf_remark">

            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="addFriend()">添加好友</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<script>
    //添加好友
    function addFriend() {
        var value = $("#uf_username").val();
        var remark = $("#uf_remark").val();
        if (value === "") {
            alert("请输入用户名");
            return;
        }
        if (remark === "") {
            remark = value;
        }
        $.post("/UserFriend/AddFriend", "UserNameTo=" + value + "&Remark=" + remark, function(data) {
            if (data.info.state === 200) {
                //alert("添加成功");
                window.location.reload();
            } else {
                alert(data.info.message);
            }
        });
    }

    ///删除
    function delFriend(name) {
        $.post("/UserFriend/DelFriend", "UserNameTo=" + name, function(data) {
            if (data.info.state === 200) {
                //alert("添加成功");
                //window.location.reload();
                $("#" + name).parent().remove();
            } else {
                alert(data.info.message);
            }
        });
    }
</script>