@using GaiaDbContext.Models
@model List<GaiaDbContext.Models.ApplicationUser>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewBag.Title = "用户列表";
    Layout = "_Layout";
}

<h2>用户列表</h2>

<form>
    <div class="row">
        <div class="col-lg-8">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="用户名" id="UserName" name="UserName">
                <input type="text" class="form-control" placeholder="邮箱" id="Email" name="Email">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">搜索</button>
                </span>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <td>用户名</td>
        <td>邮箱</td>
        <td>用户组</td>
        <td>编辑</td>
    </tr>
    </thead>
    <tbody>
    @{ bool isAdmin = UserManager.GetUserAsync(User).Result != null && UserManager.GetUserAsync(User).Result.groupid == 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/GameInfo?username=@item.UserName">@item.UserName</a>
            </td>
            <td>@item.Email</td>
            <td>
                @if (@item.groupid == 1)
                {
                    <span>管理员</span>
                }
                else
                {
                    <span>会员</span>
                }
            </td>

            <td>
                暂未开发
                @*                @if (isAdmin)*@
                @*                {*@
                @*                    <button class="btn btn-default del" id="@item.Id">删除</button>*@
                @*                }*@
            </td>
        </tr>

    }

    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination" id="pagelist">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
    <span>
        
    </span>
</nav>

<script>

    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }


    $(function() {
        $("#pagelist a").click(function() {
            var obj = $(this);
            var value = obj.attr("aria-label");
            var pageindex = GetQueryString("pageindex");
            if (pageindex === null) {
                pageindex = 1;
            }
            if (value === "Previous") {
                pageindex--;
            } else if (value === "Next") {
                pageindex++;
            } else {
                pageindex = obj.text();
            }
            if (pageindex === 0) {
                pageindex = 1;
            }
            var url = window.location.href;
            if (url.indexOf("?") > -1) {
                //如果已经有翻页信息
                if (url.indexOf("pageindex=")>-1) {
                    url = url.replace(/pageindex=\d*/, "pageindex=" + pageindex);
                } else {
                    url = url + "&pageindex=" + pageindex;
                }
            } else {
                url = url + "?pageindex=" + pageindex;
            }
            window.location.href = url;

        });
    });
</script>