@using GaiaDbContext.Models
@using Microsoft.AspNetCore.Http
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @if (ViewData["Title"] != null && ViewData["Title"].ToString().Equals("viewgame"))
    {
        <meta name="viewport" content="width=1000" />
    }
    else
    {
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    }

    @*<meta name="viewport" content="width=device-width, initial-scale=0.4, minimum-scale=0.4, maximum-scale=2.0, user-scalable=yes" />*@
    <title>@ViewData["Title"] - 盖亚计划</title>



    @await Html.PartialAsync("_Layout_Style1")
@*    @await Html.PartialAsync("_Layout_Style2")*@


    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">盖亚计划</a>
            </div>
            <div class="navbar-collapse collapse">



                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="About">种族</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">帮助</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">统计 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/GameInfo/Index?isAdmin=3&GameStatus=0">管理游戏</a></li>
                            <li><a href="/GameInfo/Index?GameStatus=8">结束游戏</a></li>

                            <li><a asp-area="" asp-controller="GameInfo" asp-action="FactionList">使用种族</a></li>
                            <li><a asp-area="" asp-controller="GameInfo" asp-action="ApplyDeleteList">等待删除游戏</a></li>

                            <li role="separator" class="divider"></li>
                            <li><a href="/GameInfo/Index?isAdmin=2">公开游戏</a></li>
                            <li>
                                <a href="/GameInfo/UserScoreAvg?usercount=4">玩家统计</a>
                            </li>
                            <li><a href="/GameInfo/FactionList?type=2&usercount=4">种族高分</a></li>
                            <li>
                                <a href="/GameInfo/FactionStatistics?usercount=4">种族统计</a>
                            </li>
                            <li>
                                <a href="/GameInfo/TTStatistics">科技版</a>

                                
                            </li>
                        </ul>
                    </li>

                    @if (UserManager.GetUserAsync(User).Result != null && UserManager.GetUserAsync(User).Result.groupid==1)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>

@*                                    <a href="/GameInfo/Index?isAdmin=1&GameStatus=0">未结束游戏</a>*@
@*                                    <a href="/GameInfo/Index?isAdmin=1&GameStatus=8">全部结束游戏</a>*@

                                    <a href="/GameInfo/FactionList?type=1">全部种族</a>


@*                                    <a href="/MatchInfo">测试比赛</a>*@
                                    <a href="/Admin/NewsIndex">进入管理后台</a>

                                </li>

                            </ul>
                        </li>
                    }

                </ul>

                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - GaiaProject  &nbsp;&nbsp;&nbsp;    蜀ICP备18004862号</p>
        </footer>
    </div>



    @RenderSection("Scripts", required: false)
</body>
</html>
