<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="order by dede58.com"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>盖亚计划 - 后台管理</title>		
		
    <!-- Import google fonts - Heading first/ text second -->
@*    <link rel='stylesheet' type='text/css' href='http://fonts.useso.com/css?family=Open+Sans:400,700|Droid+Sans:400,700' />*@

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/lib/proton/ico/favicon.ico" type="image/x-icon" />

    <!-- Css files -->
    <link href="/lib/proton/css/bootstrap.min.css" rel="stylesheet">		
    <link href="/lib/proton/css/jquery.mmenu.css" rel="stylesheet">		
    <link href="/lib/proton/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/proton/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <link href="/lib/proton/css/style.min.css" rel="stylesheet">
    <link href="/lib/proton/css/add-ons.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    
    <!-- start: JavaScript-->


        <script src="/lib/proton/js/jquery-2.1.1.min.js"></script>

    <script src="/lib/proton/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/lib/proton/js/bootstrap.min.js"></script>	
	
	
    <!-- page scripts -->
    <script src="/lib/proton/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
    <script src="/lib/proton/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/lib/proton/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
	
    <!-- theme scripts -->
    <script src="/lib/proton/js/SmoothScroll.js"></script>
    <script src="/lib/proton/js/jquery.mmenu.min.js"></script>
    <script src="/lib/proton/js/core.min.js"></script>
	
    <!-- inline scripts related to this page -->

	
    <!-- end: JavaScript-->
</head>

<body>
<!-- start: Header -->
<div class="navbar" role="navigation">
	
    <div class="container-fluid">		
			
        <ul class="nav navbar-nav navbar-actions navbar-left">
            <li class="visible-md visible-lg"><a href="#" id="main-menu-toggle"><i class="fa fa-th-large"></i></a></li>
            <li class="visible-xs visible-sm"><a href="#" id="sidebar-menu"><i class="fa fa-navicon"></i></a></li>			
        </ul>
@*			*@
@*        <form class="navbar-form navbar-left">*@
@*            <button type="submit" class="fa fa-search"></button>*@
@*            <input type="text" class="form-control" placeholder="Search..."></a>*@
@*        </form>*@
			
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown visible-md visible-lg">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="user-avatar" src="/lib/proton/img/avatar.jpg" alt="user-mail">@User.Identity.Name</a>
            </li>
@*            <li><a href="index.html"><i class="fa fa-power-off"></i></a></li>*@
        </ul>
			
    </div>
		
</div>
<!-- end: Header -->
	
<div class="container-fluid content">
	
<div class="row">
				
<!-- start: Main Menu -->
<div class="sidebar ">
								
    <div class="sidebar-collapse">
        <div class="sidebar-header t-center">
            <span><img class="text-logo" src="/lib/proton/img/logo1.png"><i class="fa fa-space-shuttle fa-3x blue"></i></span>
        </div>										
        <div class="sidebar-menu">						
            <ul class="nav nav-sidebar">
                <li><a href="/Admin/NewsIndex"><i class="fa fa-laptop"></i><span class="text">新闻管理</span></a></li>
                <li>
                    <a href="/UserFriend/UserList"><i class="fa fa-file-text"></i><span class="text"> 用户管理</span> </a>	
                </li>
                <li>
                    <a href="/MatchInfo?isAdmin=1"><i class="fa fa-list-alt"></i><span class="text"> 比赛管理</span> </a>
                </li>
                <li><a href="/GameInfo/Index?isAdmin=1"><i class="fa fa-table"></i><span class="text"> 游戏管理</span></a></li>
                
                <li><a href="/Admin/DonateIndex"><i class="fa fa-table"></i><span class="text"> 捐赠管理</span></a></li>

            </ul>
        </div>					
    </div>
    <div class="sidebar-footer">					
					
        <div class="sidebar-brand">
            盖亚计划
        </div>
					
@*        <ul class="sidebar-terms">*@
@*            <li><a href="index.html#">Terms</a></li>*@
@*            <li><a href="index.html#">Privacy</a></li>*@
@*            <li><a href="index.html#">Help</a></li>*@
@*            <li><a href="index.html#">About</a></li>*@
@*        </ul>*@
					
        <div class="copyright text-center">
            <small>后台管理 <i class="fa fa-coffee"></i>  <a href="/" title="盖亚计划" target="_blank">盖亚计划</a></small>
        </div>					
    </div>	
				
</div>
<!-- end: Main Menu -->
						
<!-- start: Content -->
<div class="main sidebar-minified">

    @RenderBody()

</div>
<!-- end: Content -->
<br><br><br>		

		
		
@*<div id="usage">*@
@*    <ul>*@
@*        <li>*@
@*            <div class="title">Memory</div>*@
@*            <div class="bar">*@
@*                <div class="progress">*@
@*                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>*@
@*                </div>*@
@*            </div>			*@
@*            <div class="desc">4GB of 8GB</div>*@
@*        </li>*@
@*        <li>*@
@*            <div class="title">HDD</div>*@
@*            <div class="bar">*@
@*                <div class="progress">*@
@*                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>*@
@*                </div>*@
@*            </div>			*@
@*            <div class="desc">250GB of 1TB</div>*@
@*        </li>*@
@*        <li>*@
@*            <div class="title">SSD</div>*@
@*            <div class="bar">*@
@*                <div class="progress">*@
@*                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>*@
@*                </div>*@
@*            </div>			*@
@*            <div class="desc">700GB of 1TB</div>*@
@*        </li>*@
@*        <li>*@
@*            <div class="title">Bandwidth</div>*@
@*            <div class="bar">*@
@*                <div class="progress">*@
@*                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>*@
@*                </div>*@
@*            </div>			*@
@*            <div class="desc">90TB of 100TB</div>*@
@*        </li>				*@
@*    </ul>	*@
@*</div>			*@
		
</div><!--/container-->
		
	
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Here settings can be configured...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	
<div class="clearfix"></div>
	
		

</div>	
</body>
</html>