@model GaiaCore.Gaia.GaiaGame

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">行动区域</h3>
    </div>
    <div class="panel-body" style="width: 650px">



        <div class="row">


                <div class="col-md-4">
                    <div class="input-group">
                        <select class="btn dropdown-toggle form-control" id="xsnengliang" name="xsnengliang" syntax="burn {0}"  style="width: 100px">
                            <option value="">牺牲能量</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default ksaction" id="before" actionType="before" controlid="#xsnengliang">前</button>
                            <button type="button" class="btn btn-default ksaction" id="after" actionType="after" controlid="#xsnengliang">后</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <select class="btn dropdown-toggle form-control" id="ksactionnumber" name="ksactionnumber" style="width: 100px">
                            <option value="">执行次数</option>
                            <option value="1" selected="selected">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                        @Html.DropDownList("enumList", new SelectList(GaiaCore.Gaia.Data.PwInfoList.QuickActList, "code", "name"), "--快速行动--", new {@class = "btn dropdown-toggle form-control", @id = "ksactionall", @syntax = "convert {0}",@style= "width: 200px" })
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default ksaction" id="before" actionType="before" controlid="#ksactionall" actionnumber="#ksactionnumber">前</button>
                            <button type="button" class="btn btn-default ksaction" id="after" actionType="after" controlid="#ksactionall" actionnumber="#ksactionnumber">后</button>
                        </span>

                    </div>
                </div>
        </div>



        <div class="row" style="margin-top: 10px;margin-bottom: 10px">
            <div class="btn-group btn-default col-md-12" role="group" aria-label="Large button group" id="">
                <button type="button" class="btn btn-default" id="createZjAl">选择联邦位置</button>
                

                <button type="button" id="planetMine" class="btn btn-default" style="margin-left: 10px" onclick=''>放置黑星</button>
                @*$("#syntax").val($("#syntax").val()+".planet F5")*@
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <select class="btn dropdown-toggle form-control selectchange" id="updatekjaction" name="enumList" syntax="advance "><option value="">--请选择升级科技--</option>
                        <option value="tf">地形改造</option>
                        <option value="ship">航行</option>
                        <option value="ai">人工智能</option>
                        <option value="gaia">盖亚计划</option>
                        <option value="eco">经济</option>
                        <option value="sci">科学</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default actionGp" type="button">确定升级</button>
                    </span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group">

                    @Html.DropDownList("enumList", new SelectList(Model.RBTList, "name", "desc"), "--请选择回合助推板--", new { @class = "btn dropdown-toggle form-control selectchange", @id = "rbtPassList", @syntax = "pass " })

                    <span class="input-group-btn">
                        <button class="btn btn-default actionGp" type="button" syntax="pass ">结束回合</button>
                    </span>
                </div>
            </div>
        </div>


    </div>
</div>
