@{
    ViewData["Title"] = "确认邮箱";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        感谢您确认邮箱. 请 <a asp-controller="Account" asp-action="Login">点击登录</a>.
        @*Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.*@

    </p>
</div>
