@{
    ViewData["Title"] = "About";
}


<div>人类 Terraner</div>

<div>初始研究：盖亚计划</div>

<div>种族初始能力：盖亚阶段时，盖亚区域的能量标记进入Ⅱ区域，而不是Ⅰ区域</div>

<div>
    星际要塞能力：盖亚阶段时，盖亚区域的能量标记进入Ⅱ区域时，免费获得等同于盖亚区域能量标记数量的能量用于兑换资源，兑换比例与自由行动相同
    盖亚阶段指令示例：convert 3pw to 1o
</div>

<div>特殊：无</div>

<hr>
<div>
    大使星人 Ambas
</div>

<div>初始研究：航行</div>

<div>种族初始能力：无</div>

<div>
    星际要塞能力：每回合1次，将星际要塞与另一个自己已建好的矿场互换位置，不影响已经形成的联邦
    星际要塞行动指令示例：action amb.swap E3,F8
</div>

<div>特殊：矿场0号位额外生产1个矿石，要塞额外生产1个能量指示物</div>

<hr>

<div>章鱼人 Firaks</div>

<div>初始研究：无</div>

<div>种族初始能力：无</div>

<div>
    星际要塞能力：每回合1次，你可以将你的1个研究所降级为贸易中心（视为1个建造贸易中心的建筑行动），并立即选择1项研究区域推进1格
    星际要塞行动指令示例：action fir.downgrade E3.advance gaia
</div>

<div>特殊：实验室0号位额外生产1点知识，初始少1点知识，少1个矿石</div>

<hr>

<div>晶矿星人 Geoden</div>

<div>
    初始研究：地形改造
</div>
<div>种族初始能力：无</div>

<div>星际要塞能力：每当在1种未建造过建筑的星球类型上建造矿场，获得3知识。在星际要塞建造前所建造的星球类型不会触发该能力。</div>

<div>特殊：无</div>

<hr>
<div>
    圣禽族 Hadsch Halla
</div>

<div>初始研究：经济</div>

<div>种族初始能力：无</div>
<div>
    星际要塞能力：作为自由行动，该种族可以使用信用点代替能量兑换资源
</div>
<div>
    特殊：贸易中心0号位额外生产3点信用点
</div>

<hr>

<div>伊塔星人 Itar</div>

<div>初始研究：无</div>

<div>种族初始能力：每当该种族牺牲Ⅱ区域的能量进入Ⅲ区域时，原本应被移除的能量会进入该种族的盖亚区域</div>
<div>
    星际要塞能力：盖亚阶段时，该种族可以选择移除盖亚区域的4PW获得1个科技板块，该行动可以进行多次
    盖亚阶段指令示例：+att1.-stt3.advance gaia
</div>

<div>特殊：大学院1额外生产1点知识，要塞0号位额外生产1个能量指示物，初始多1个矿石</div>

<hr>

<div>异空族 Xenos</div>

<div>初始研究：人工智能</div>
<div>
    种族初始能力：初始建筑设置时，该种族初始建筑为3个矿场，而非2个。第3个矿场在所有玩家放置玩自己的矿场后再放置（除蜂人外）
</div>
<div>
    星际要塞能力：该种族形成联邦，联邦内建筑能量值只需要6点
</div>

<div>特殊：要塞不生产能量指示物，额外生产1个量子方块</div>
