@model List<GaiaDbContext.Models.SystemModels.NewsInfoModel>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帮助</title>
</head>
<body>


    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-12 column">

                        
                        @foreach (var item in Model)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@item.name</h3>
                                </div>
                                <div class="panel-body">
                                    @Html.Raw(@item.contents)
                                </div>
                            </div>
                        }

@*                        <div class="panel panel-default">*@
@*                            <div class="panel-heading">*@
@*                                <h3 class="panel-title">反馈</h3>*@
@*                            </div>*@
@*                            <div class="panel-body">*@
@*                                联系21817698@qq.com*@
@*                            </div>*@
@*                        </div>*@
@**@
@**@
@**@
@**@
@*            <div class="panel panel-default">*@
@*                <div class="panel-heading">*@
@*                    <h3 class="panel-title">运行游戏</h3>*@
@*                </div>*@
@*                <!--<div class="panel-body">-->*@
@*                <!--Panel content-->*@
@*                <!--</div>-->*@
@**@
@*                <ul class="list-group">*@
@*                    <li class="list-group-item">*@
@*                        1.加入游戏*@
@*                    </li>*@
@*                    <li class="list-group-item">*@
@*                        2.游戏页面<br />*@
@*                        地图:*@
@*                    </li>*@
@*                    <li class="list-group-item">*@
@*                        3.缩写<br />*@
@**@
@*                        o: 矿石<br />*@
@*                        c: 信用点<br />*@
@*                        pw: 能量<br />*@
@*                        pwt:能量指示物<br />*@
@*                        q: 量子智能方块<br />*@
@*                        k: 知识<br />*@
@*                        PG: 盖亚区的能量<br />*@
@*                        Gaia Unit: 盖亚改造单元<br />*@
@*                        M: 矿场<br />*@
@*                        TC：贸易中心<br />*@
@*                        RL：实验室<br />*@
@*                        AC：大学院<br />*@
@*                        SH：星际要塞<br />*@
@*                        G：盖亚星球<br />*@
@*                        M（G）：位于盖亚星球的矿场<br />*@
@*                        ALT：联邦板块<br />*@
@*                        STT：基础科技板块<br />*@
@*                        ATT：高级科技板块<br />*@
@*                        RA：研究区域<br />*@
@*                        TF：地形改造<br />*@
@*                        SC：星域<br />*@
@*                        P_TYPE: 星球种类<br />*@
@*                        VP：分数<br />*@
@*                        Tf Level： 地形改造等级，1级为3矿石执行1次地形改造，2级为2矿石，3级为1矿石<br />*@
@*                        Ship Level： 航行等级，用于建造矿场和进行盖亚改造，初始范围为1（相邻），不影响其他玩家建造或升级时获得能量与升级贸易中心减费的范围<br />*@
@*                        +资源缩写： 生产阶段获得相应资源<br />*@
@*                        资源缩写（无+号）： 一次性立即获得相应资源<br />*@
@*                        -> 已有的一次性加分<br />*@
@*                        >> 每次执行时触发加分<br />*@
@*                        PASS 回合结束触发加分<br />*@
@**@
@*                    </li>*@
@*                    <li class="list-group-item">*@
@*                        4.入口<br />*@
@*                        你可以输入与你的动作相对应的命令*@
@*                    </li>*@
@*                </ul>*@
@*            </div>*@
@**@
@*                        <div class="panel panel-default">*@
@*                            <div class="panel-heading">*@
@*                                <h3 class="panel-title">游戏命令</h3>*@
@*                            </div>*@
@*                            <!--<div class="panel-body">-->*@
@*                            <!--Panel content-->*@
@*                            <!--</div>-->*@
@**@
@*                            <ul class="list-group">*@
@*                                <li class="list-group-item">*@
@*                                    1.setupgame seed<br />*@
@*                                    地图放置规则，seed为特定编号*@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    2.setup 种族<br />*@
@*                                    例如:setup terraner<br />*@
@*                                    选择terraner进行游戏*@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    3.build 坐标<br />*@
@*                                    例如:build F5<br />*@
@*                                    在F5建造矿场。(若需要改造点数，会直接按改造科技等级使用矿石进行扣减，若航行等级不足，会直接扣减q)*@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    4.action rbtX.build 坐标<br />*@
@*                                    例如:action rbt1.build F5<br />*@
@*                                    使用rbt1的行动，获得1点改造点数，将F5改造为自己的星球并且建造矿场。X为rbt板块编号(若需要改造点数，会直接按改造科技等级使用矿石进行扣减，若航行等级不足，会直接扣减q)*@
@**@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    5.upgrade 坐标 to 贸易中心/星际要塞<br />*@
@*                                    例如:upgrade F5 to TC<br />*@
@*                                    将位置为F5的矿场升级为贸易中心*@
@**@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    6.upgrade 坐标 to 实验室/大学院.+sttX.（advance tf|ai|eco|gaia|sci|ship）<br />*@
@*                                    例如:upgrade F5 to RL.+stt8.<br />*@
@*                                    将位置为F5的矿场升级为实验室，获得8号基础科技（若需要自选研究轨道，则需要加入advance指令）*@
@**@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    7.pass 回合助推板块<br />*@
@*                                    例如:pass rbt1<br />*@
@*                                    放弃行动，并且将回合助推板块1退回*@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    8.gaia 位置<br />*@
@*                                    例如:gaia F5<br />*@
@*                                    在F5进行盖亚行动*@
@**@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    9.alliance （星球与卫星）坐标,坐标,坐标...<br />*@
@*                                    例如:alliance F5,F6,F7<br />*@
@*                                    在F6放置卫星连接F5与F7建立联邦*@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    10.advance tf|ai|eco|gaia|sci|ship<br />*@
@*                                    例如:advance ai<br />*@
@*                                    花费4点知识，提升人工智能研究轨道1格*@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    11.action actX（能量或量子智能方块行动）<br />*@
@*                                    例如:action act7<br />*@
@*                                    执行7号能量行动，花费3点能量，获得2点能量指示物。*@
@**@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    11-1.action act8.+sttx./attx.(-sttx.advance tf|ai|eco|gaia|sci|ship)<br />*@
@*                                    例如:action act8.+stt1<br />*@
@*                                    执行8号量子方块行动，花费4个量子方块，获得1号基础科技。（高级科技获得参考第14条）*@
@**@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    11-2.action act9.re altx<br />*@
@*                                    例如:action act9.re alt1<br />*@
@*                                    执行9号量子方块行动，为1号联邦板块重新计分（需已获得的联邦板块）。*@
@**@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    12.convert X to Y<br />*@
@*                                    例如:convert 3pw to 1o<br />*@
@*                                    使用3点能量转换1点矿石。（该行动为自由行动，需搭配上述主要行动共同使用）*@
@**@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    13.burn X<br />*@
@*                                    例如:burn 2.action act7<br />*@
@*                                    移除2号区1点能量，将2号区1点能量移动到3号区，执行7号能量行动，花费3点能量，获得2点能量指示物。（该行动为自由行动，需搭配上述主要行动共同使用）*@
@**@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    14.+attx.-sttx.advance tf|ai|eco|gaia|sci|ship<br />*@
@*                                    例如:+att2.-stt1 advance ai<br />*@
@*                                    获得2号高级科技，覆盖1号基础科技，提升人工智能研究轨道1格（获得高级科技指令，搭配升级RL/AC或ACT8行动，消耗联邦板块）*@
@**@
@*                                </li>*@
@*                                <li class="list-group-item">*@
@*                                    15.planet（黑星）坐标<br />*@
@*                                    例如:advance ship.planet F5<br />*@
@*                                    升级航行到5级时，放置黑星到F5*@
@**@
@*                                </li>*@
@*                            </ul>*@
@*                        </div>*@
@**@


                    </div>

                </div>
            </div>
        </div>
    </div>


</body>
</html>
