
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <p id="username">@ViewData["Message"]</p>
    <p><a href="/home/NewGame">创建新游戏</a></p>
    <h4>你的游戏</h4>
    @if (ViewData["GameList"] != null)
    {
        @foreach (var item in (IEnumerable<string>)ViewData["GameList"])
        {
            <li><a href="/home/ViewGame/@item">@item</a></li>
        }
    }
    <hr>
    <h4>已知问题且一天之内没有修复计划</h4>
    <li>升级科技之后的资源暂时无法convert</li>
    <li>吸墨和各种资源上下限问题</li>
    <li>出城算法检测问题</li>
    <li>STT被退版之后还产生收入以及行动还能使用的问题 今晚也就是22号凌晨2点左右发布补丁修正 触发此Bug的局可能会回档</li>
    <li>依塔族无板子可拿依旧要能升级RL和AC</li>
    <p>还未完成的种族 亚特兰斯星人 蜂人 </p>//晶矿星人
    <p>今天更新了好多种族 可能会有各种bug 希望各位多包涵</p>
    <p>超星人特殊语句 Convert 1pwsp to 1k.魔力进盖亚区 建立SH之后 可以使用语句 convert 2pw to 1q.convert 2pw to 1o,1c.convet 2pw to 1pwt,1c.convert 1pw to 2c.convert 2pw to 1k.convert 3pw to 2o.convert 3pw to 2pwt.</p>
    <p>炽炎族特殊语句 Convert 1gaia to 1q以及其他三种类似 盖亚区的盖亚现在无法展示~先凑合哈~</p>
    <p>疯狂机器直接用advance语句提升科技 如果能触发技能会优先触发种族技能节省K 种族技能是否发动在下回合收入面板旁边可以查看</p>
    <p>利爪族智慧石的使用在做魔力行动时候是自动的,burn行动也是自动转的.使用Convert行动只支持以下语句Convert 1bs to 1o.Convert 1bs to 3c.1bs,Convert 1pw to 1q.1bs,Convert 1pw to 1k.Convert 1bs to 1pwt</p>
    <h4>2017-11-20更新如下</h4>
    <li>更新小房子显示方式为亚特兰斯族做准备</li>
    <li>利爪族初始区powertoken+1</li>
    <li>更新利爪族 利爪族涉及到复杂的魔力计算 请各位测试为主 放平心态 随时可能回档</li>
    <li>修正疯狂机器科技树错误问题</li>
    <h4>2017-11-20更新如下</h4>
    <li>修正疯狂机器建筑链不对的问题</li>
    <li>炽焰P2区减少两个 疯狂机器初始科技少2</li>
    <li>炽焰族盖亚区盖亚数量展示出来了</li>
    <li>疯狂机器种族更新 不稳定阶段~</li>
    <li>修正超星人初始不带科技的问题,修正超星人不起SH就可以使用SH能力的问题 带超星人的局会不同程度回档</li>
    <li>炽炎族更新 不稳定阶段~</li>
    <li>为超星人新添一些Convert语法,修正超星人换钱语句不生效问题</li>
    <li>更新超星人 不稳定阶段~</li>
    <li>修正格伦星人初始多2分 SH获得城版不触发RST5问题 之前的玩的局分数已经自动补上</li>
    <li>更新格伦星人 不稳定阶段~</li>
    <li>修正游戏结束时终局总计分显示错误问题</li>
    <li>Pass之后等待吸魔力的时候也会提醒到你的回合了</li>
    <li>修正ATT3给Q不给5C的Bug（板子看错了hhhh</li>
    <li>修正卫星不够出城时候的提示语</li>
    <li>修正M和TC以及RL造满的提示语</li>
    @*<h4>2017-11-18更新如下 这周末休息 少更</h4>
    <li>Fix晶矿星人SH能力必然触发的BUG</li>*@
    @*<h4>2017-11-17更新如下</h4>
    <li>ATT FST变为真随机并拥有最终计分实时计算功能</li>
    <li>出城扣魔力修复 出城检测取消 出城靠自觉 顺便征集检测出城合法性算法</li>
    <li>出城语句全新重做 请大家放飞自我帮忙测试出城算法 Alliance xx,xx,xx,xx,xx.+ALTX 需要把所有的城邦和卫星的地点都写出来 前端有些问题稍后更新 需要手动命令</li>
    <li>程序异常之后会打印错误堆栈 麻烦报告BUG的时候请截图房间名+堆栈截图 谢谢~~</li>
    <li>Fix晶矿星人造死星会导致程序Crash问题</li>
    <li>高级板子退的板子结算正常</li>
    <li>更新了四张新地图！地图已经全了！</li>
    <li>给To总 时光回溯和炸房权限,稳定之后逐步开放</li>*@
    @*<h4>2017-11-16更新如下</h4>
    <li>每回合的Income阶段pwt和pw收入可以选择构成了</li>
    <li>每位玩家的能量吸取要按照顺序执行</li>
    <li>开局界面可以选择地图 增加扩展功能 地图待慢慢更新</li>
    <li>收入模块完全重构,如果收入出错请联系to总或者群内atDulang</li>
    <li>修正最高级经济获取错误问题</li>
    <li>修正一个提示星盟成立失败时的小错误</li>
    <li>更新双人固定地图模式</li>
    <li>修正同时获取ATT与升五级科技只需要一个ALT的bug</li>
    <li>修正某些情况GaiaPlant建造时候多扣除QIC的问题</li>
    <li>章鱼降级能够使人蹭魔</li>*@
    @*<h4>2017-11-15更新如下</h4>
    <li>TF等级获得城块可以出发RST5</li>
    <li>1q转换1pwt修复</li>
    <li>修复多人可以登顶科技的问题</li>
    <li>修正死星航海距离是3不是4的问题,死星建筑不能升级,晶矿星人建造死星可以收获3知识</li>
    <li>修正AC2的行动可以重复使用的问题</li>
    <li>att1-att3可以使用了</li>
    <li>修正联邦板消耗后下轮恢复可用状态</li>
    <li>修正大使星人SH能力无效问题</li>
    <li>界面更新玩家名字与下回合收入 PWT计算方式略有问题将来更新 下回合收入计算方式包含本回合拿的RBT板子收入请注意</li>
    <li>章鱼人每回合固定知识收入从3调整到2</li>
    <li>更新章鱼人 种族SH语句为 action fir.downgrade xx.advance xx </li>
    <li>执行种族SH能力时，如果输入错误不会算作消耗，如果没做对应指令会提醒</li>*@

    /*<h4>2017-11-14更新如下</h4>
    <li>人类初始P1从2点调整为4点</li>
    <li>rbt2执行盖亚行动时候多扣Q的问题</li>
    <li>修正人类SH行动消耗能量的问题</li>
    <li>AC2每轮多收入1Q修正</li>
    <li>修正Pass之后只有一次吸取能量机会的Bug</li>
    <li>人类更新啦 因为人类更新会影响盖亚阶段结算 可能之前使用伊塔星人的局会出现各种意外情况 请注意~</li>
    <li>Index也加入待动局提醒</li>
    <li>修正执行advance行动时后续操作如果失败扣除知识的问题</li>
    <li>修正在行动之后使用Convert使资源异常增加的问题</li>
    <li>修正Act2与Act6可以一起用的问题</li>*/


    @if (UserManager.GetUserName(User).Equals("yucenyucen@126.com"))
    {
        <p><a href="/home/BackupData">备份所有游戏</a></p>
        <p><a href="/home/RestoreData">恢复所有游戏</a></p>
        <p><a href="/home/GetAllGame">获取所有游戏列表</a></p>
        @*<p><a href="/home/DeleteAllGame">删除所有游戏</a></p>*@
        <environment names="Development">
            <p><a href="/home/RestoreDataFromServer">从服务器恢复所有游戏</a></p>
            <p><a href="/home/RestoreDataFromServerOneGame/helloworld">恢复单个游戏</a></p>
        </environment>
    }
    <script>
    setTimeout('GetNextGame()', 10000); //指定1秒刷新一次

    function GetNextGame() {
        if ($("#isMyTurn").text().indexOf("True") == -1) {
            $.post("/home/GetNextGame",
                {
                    name: $("p#username").text()
                },
                function (data, status) {
                    console.log(data);
                    if (data == undefined || data == "") {
                    } else {
                        window.location.href = "/home/viewgame/" + data;
                        alert("你的回合");
                    }
                });
        }
        setTimeout('GetNextGame()', 10000);
    }
    </script>
}
else
{
    <p>不对未注册用户开放</p>
}
