
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <p id="username">@ViewData["Message"]</p>
    <p><a href="/home/NewGame">创建新游戏</a></p>
    <h4>你的游戏</h4>
    @if (ViewData["GameList"] != null)
    {
        @foreach (var item in (IEnumerable<string>)ViewData["GameList"])
        {
            <li><a href="/home/ViewGame/@item">@item</a></li>
        }
    }
    <hr>
    <p>提示：可用种族为异空族,伊塔星人,圣禽族,大使星人,人类其余种族为白板 晶矿星人今晚更新</p>//晶矿星人
    <h4>2017-11-14更新如下</h4>
    <li>修正人类SH行动消耗能量的问题</li>
    <li>AC2每轮多收入1Q修正</li>
    <li>修正Pass之后只有一次吸取能量机会的Bug</li>
    <li>人类更新啦 因为人类更新会影响盖亚阶段结算 可能之前使用伊塔星人的局会出现各种意外情况 请注意~</li>
    <li>Index也加入待动局提醒</li>
    <li>修正执行advance行动时后续操作如果失败扣除知识的问题</li>
    <li>修正在行动之后使用Convert使资源异常增加的问题</li>
    <li>修正Act2与Act6可以一起用的问题</li>


    @if (UserManager.GetUserName(User).Equals("yucenyucen@126.com"))
    {
        <p><a href="/home/BackupData">备份所有游戏</a></p>
        <p><a href="/home/RestoreData">恢复所有游戏</a></p>
        <p><a href="/home/GetAllGame">获取所有游戏列表</a></p>
        <environment names="Development">
            <p><a href="/home/RestoreDataFromServer">从服务器恢复所有游戏</a></p>
        </environment>
    }
    <script>
    setTimeout('GetNextGame()', 10000); //指定1秒刷新一次

    function GetNextGame() {
        if ($("#isMyTurn").text().indexOf("True") == -1) {
            $.post("/home/GetNextGame",
                {
                    name: $("p#username").text()
                },
                function (data, status) {
                    console.log(data);
                    if (data == undefined || data == "") {
                    } else {
                        window.location.href = "/home/viewgame/" + data;
                        alert("你的回合");
                    }
                });
        }
        setTimeout('GetNextGame()', 10000);
    }
    </script>
}
else
{
    <p>不对未注册用户开放</p>
}
