

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <link rel="stylesheet" href="~/css/bootstrap-table.css">
    <script src="~/js/bootstrap-table.js"></script>
    <p id="username">@ViewData["Message"]</p>
    <p><a href="/home/NewGame">创建新游戏</a></p>
    <h4>你的游戏</h4>




    @if (ViewData["GameList"] != null)
    {
        @Html.Partial("Partial_AllGameList", ViewData["GameList"])
    }
    <hr>
    <p>种族介绍与帮助文件已经更新 如果有什么语句不清楚请联系to总进行补充</p>
    <p>四天无人操作的局会被炸掉</p>
    <h4>待做功能优先级如下 如果有其他需求请跟to总沟通</h4>
    <li>星域边框改为实线</li>
    <li>行动预览</li>
    <li>游戏数据保存 历史数据留档</li>
    <li>设置棋钟 加入Drop功能</li>
    <li>公开的大厅</li>
    <li>玩家的排名积分</li>
    <li>黑名单白名单</li>
    <h4>已知问题将来会修复</h4>
    <li>升级科技之后的资源暂时无法convert</li>
    <li>出城算法检测问题</li>
    <h4>12月15日之前以修BUG为主 最近更新如下</h4>
    <li>增加两人计分中的虚拟玩家 持续优化最终得分面板</li>
    <li>修正Lantida族可以重复寄生同一个地点的问题</li>
    <li>为手机适配一部分显示优化</li>
    <li>历史语句显示优化 增加分数和魔力变化看板 最后一步放在首位倒序排列</li>
    <li>修正晶矿星人先造Gaia再获得绿地少加3知识的问题</li>
    <li>修正非常罕见的情况下利爪族在吸墨错误时会触发SH能力</li>
    <li>中文名字的游戏吸墨等操作报错Bug修正</li>
    <li>修复满魔吸魔力还会扣分的BUG</li>
    <li>所有资源上限设置 c 30 o 15  k 15</li>

    @if (User.Identity.Name.Equals("yucenyucen@126.com") || User.Identity.Name.Equals("xsssssssch@hotmail.com") || User.Identity.Name.Equals("qqthomas@163.com"))
    {
        <p><a href="/home/GetAllGame">获取所有游戏列表</a></p>

    }

    @if (UserManager.GetUserName(User).Equals("yucenyucen@126.com"))
    {
        <p><a href="/home/BackupData">备份所有游戏</a></p>
        <p><a href="/home/RestoreData">恢复所有游戏</a></p>
        @*<p><a href="/home/DeleteAllGame">删除所有游戏</a></p>*@
        <environment names="Development">
            <p><a href="/home/RestoreDataFromServer">从服务器恢复所有游戏</a></p>
            <p><a href="/home/RestoreDataFromServerOneGame/moon001">恢复单个游戏</a></p>
        </environment>
    }
    <script>
        setTimeout('GetNextGame()', 10000); //指定1秒刷新一次

        function GetNextGame() {
            if ($("#isMyTurn").text().indexOf("True") == -1) {
                $.post("/home/GetNextGame",
                    {
                        name: $("p#username").text()
                    },
                    function (data, status) {
                        console.log(data);
                        if (data == undefined || data == "") {
                        } else {
                            window.location.href = "/home/viewgame/" + data;
                            alert("你的回合");
                        }
                    });
            }
            setTimeout('GetNextGame()', 10000);
        }
    </script>
}
else
{
    <p>不对未注册用户开放</p>
}
