

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <link rel="stylesheet" href="~/css/bootstrap-table.css">
    <script src="~/js/bootstrap-table.js"></script>
    <p id="username">@ViewData["Message"]</p>
    <p><a href="/home/NewGame">创建新游戏</a></p>
    <h4>你的游戏</h4>
    @if (ViewData["GameList"] != null)
    {
        @Html.Partial("Partial_AllGameList", ViewData["GameList"])
    }
    <hr>
    <h4>已知问题将来会修复</h4>
    <li>升级科技之后的资源暂时无法convert</li>
    <li>出城算法检测问题</li>
    <p>种族介绍与帮助文件已经更新 如果有什么语句不清楚请联系to总进行补充</p>
    <p>四天无人操作的局会被炸掉</p>
    <h4>最近半个月修复BUG为主</h4>
    <li>修正非常罕见的情况下利爪族在吸墨错误时会触发SH能力</li>
    <li>中文名字的游戏吸墨等操作报错Bug修正</li>
    <li>修复满魔吸魔力还会扣分的BUG</li>
    <li>所有资源上限设置 c 30 o 15  k 15</li>

    @if (User.Identity.Name.Equals("yucenyucen@126.com") || User.Identity.Name.Equals("xsssssssch@hotmail.com") || User.Identity.Name.Equals("qqthomas@163.com"))
    {
        <p><a href="/home/GetAllGame">获取所有游戏列表</a></p>

    }

    @if (UserManager.GetUserName(User).Equals("yucenyucen@126.com"))
    {
        <p><a href="/home/BackupData">备份所有游戏</a></p>
        <p><a href="/home/RestoreData">恢复所有游戏</a></p>
        @*<p><a href="/home/DeleteAllGame">删除所有游戏</a></p>*@
        <environment names="Development">
            <p><a href="/home/RestoreDataFromServer">从服务器恢复所有游戏</a></p>
            <p><a href="/home/RestoreDataFromServerOneGame/pad06Debug20171127193140">恢复单个游戏</a></p>
        </environment>
    }
    <script>
    setTimeout('GetNextGame()', 10000); //指定1秒刷新一次

    function GetNextGame() {
        if ($("#isMyTurn").text().indexOf("True") == -1) {
            $.post("/home/GetNextGame",
                {
                    name: $("p#username").text()
                },
                function (data, status) {
                    console.log(data);
                    if (data == undefined || data == "") {
                    } else {
                        window.location.href = "/home/viewgame/" + data;
                        alert("你的回合");
                    }
                });
        }
        setTimeout('GetNextGame()', 10000);
    }
    </script>
}
else
{
    <p>不对未注册用户开放</p>
}
