
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <p id="username">@ViewData["Message"]</p>
    <p><a href="/home/NewGame">创建新游戏</a></p>
    <h4>你的游戏</h4>
    @if (ViewData["GameList"] != null)
    {
        @foreach (var item in (IEnumerable<string>)ViewData["GameList"])
        {
            <li><a href="/home/ViewGame/@item">@item</a></li>
        }
    }
    <hr>
    <h4>已知问题且一天之内没有修复计划</h4>
    <li>升级科技之后的资源暂时无法convert</li>
    <p>提示：可用种族为异空族,伊塔星人,圣禽族,大使星人,人类,晶矿星人,章鱼人其余种族为白板 </p>//晶矿星人
    <p>更新了最新的出城语句。。。所以房间又炸了一次 大家见谅 如果顺利这将是最后一次炸房</p>//晶矿星人
    <h4>2017-11-17更新如下</h4>
    <li>出城语句全新重做 请大家放飞自我帮忙测试出城算法</li>
    <li>程序异常之后会打印错误堆栈 麻烦报告BUG的时候请截图房间名+堆栈截图 谢谢~~</li>
    <li>Fix晶矿星人造死星会导致程序Crash问题</li>
    <li>高级板子退的板子结算正常</li>
    <li>更新了四张新地图！地图已经全了！</li>
    <li>给To总 时光回溯和炸房权限,稳定之后逐步开放</li>
    <h4>2017-11-16更新如下</h4>
    <li>每回合的Income阶段pwt和pw收入可以选择构成了</li>
    <li>每位玩家的能量吸取要按照顺序执行</li>
    <li>开局界面可以选择地图 增加扩展功能 地图待慢慢更新</li>
    <li>收入模块完全重构,如果收入出错请联系to总或者群内atDulang</li>
    <li>修正最高级经济获取错误问题</li>
    <li>修正一个提示星盟成立失败时的小错误</li>
    <li>更新双人固定地图模式</li>
    <li>修正同时获取ATT与升五级科技只需要一个ALT的bug</li>
    <li>修正某些情况GaiaPlant建造时候多扣除QIC的问题</li>
    <li>章鱼降级能够使人蹭魔</li>
    @*<h4>2017-11-15更新如下</h4>
    <li>TF等级获得城块可以出发RST5</li>
    <li>1q转换1pwt修复</li>
    <li>修复多人可以登顶科技的问题</li>
    <li>修正死星航海距离是3不是4的问题,死星建筑不能升级,晶矿星人建造死星可以收获3知识</li>
    <li>修正AC2的行动可以重复使用的问题</li>
    <li>att1-att3可以使用了</li>
    <li>修正联邦板消耗后下轮恢复可用状态</li>
    <li>修正大使星人SH能力无效问题</li>
    <li>界面更新玩家名字与下回合收入 PWT计算方式略有问题将来更新 下回合收入计算方式包含本回合拿的RBT板子收入请注意</li>
    <li>章鱼人每回合固定知识收入从3调整到2</li>
    <li>更新章鱼人 种族SH语句为 action fir.downgrade xx.advance xx </li>
    <li>执行种族SH能力时，如果输入错误不会算作消耗，如果没做对应指令会提醒</li>*@

    /*<h4>2017-11-14更新如下</h4>
    <li>人类初始P1从2点调整为4点</li>
    <li>rbt2执行盖亚行动时候多扣Q的问题</li>
    <li>修正人类SH行动消耗能量的问题</li>
    <li>AC2每轮多收入1Q修正</li>
    <li>修正Pass之后只有一次吸取能量机会的Bug</li>
    <li>人类更新啦 因为人类更新会影响盖亚阶段结算 可能之前使用伊塔星人的局会出现各种意外情况 请注意~</li>
    <li>Index也加入待动局提醒</li>
    <li>修正执行advance行动时后续操作如果失败扣除知识的问题</li>
    <li>修正在行动之后使用Convert使资源异常增加的问题</li>
    <li>修正Act2与Act6可以一起用的问题</li>*/


    @if (UserManager.GetUserName(User).Equals("yucenyucen@126.com"))
    {
        <p><a href="/home/BackupData">备份所有游戏</a></p>
        <p><a href="/home/RestoreData">恢复所有游戏</a></p>
        <p><a href="/home/GetAllGame">获取所有游戏列表</a></p>
        <p><a href="/home/DeleteAllGame">删除所有游戏</a></p>
        <environment names="Development">
            <p><a href="/home/RestoreDataFromServer">从服务器恢复所有游戏</a></p>
            <p><a href="/home/RestoreDataFromServerOneGame/tanshu15">恢复单个游戏</a></p>
        </environment>
    }
    <script>
    setTimeout('GetNextGame()', 10000); //指定1秒刷新一次

    function GetNextGame() {
        if ($("#isMyTurn").text().indexOf("True") == -1) {
            $.post("/home/GetNextGame",
                {
                    name: $("p#username").text()
                },
                function (data, status) {
                    console.log(data);
                    if (data == undefined || data == "") {
                    } else {
                        window.location.href = "/home/viewgame/" + data;
                        alert("你的回合");
                    }
                });
        }
        setTimeout('GetNextGame()', 10000);
    }
    </script>
}
else
{
    <p>不对未注册用户开放</p>
}
