@model GaiaProject.Models.HomeViewModels.NewGameViewModel
@{
    ViewData["Title"] = "NameGame";
}

<h2>@ViewData["Title"].</h2>


<form asp-controller="Home" asp-action="NewGame" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name"  class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Player1" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Player1" class="form-control" />
            <span asp-validation-for="Player1" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Player2" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Player2" class="form-control" />
            <span asp-validation-for="Player2" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Player3" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Player3" class="form-control" />
            <span asp-validation-for="Player3" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Player4" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Player4" class="form-control" />
            <span asp-validation-for="Player4" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Create</button>
        </div>
    </div>
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}